* {
    box-sizing: border-box;
  }
  
  button {
    outline: none !important;
  }
  
  html {
    height: 100vh;
  }
  
  body {
    background-color: #c0c0c0;
    height: 100vh;  
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  
  section {
    background-color: #fff;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    .header, 
    .flex-row {
      flex: 1 0 100%;
    }
    .header {
      h1 {
        margin: 0;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1em;
      aside {
        display: flex;
          align-items: center;
        h6 {
          margin: 0 1em;
        }
      }
    }
    div.category { 
      flex: 0 0 49.5%;
      border: 1px solid #ccc;
      padding: 1em;
      &:first-of-type {
        margin-right: 1%;
      }
      h2 {
        margin: 0;
      }
    }
  }
  
  .properties {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li{
      white-space: nowrap;
      &:not(:last-child)::after {
        content: "|";
        padding: 0 1em;
      } 
    }
  }
  
  .isActive {
    font-weight: bold;
    color: rebeccapurple;
  }
  
  .flex-row {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    & > *:nth-child(2) {
      flex: 1;
      margin: 0 1em;
    }
  }
  
  .flexbox {
    border: 1px solid #ccc;
    display: flex;
    &-item {
      font-family: 'Oswald', sans-serif;
      padding: .5em 1em;
      background-color: rebeccapurple;
      color: white;
      font-size: 2em;
      &.show-only-first {
        background-color: lighten(rebeccapurple, 20%);
      }
    }
  }